/* REGOLE GENERICHE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

/* FINE REGOLE GENERICHE */

.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-right {
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.logo {
    height: 100%;
    width: 100px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo > img {
    width: 100%;
}

.navbar-left .menu li, .navbar-right .menu li {
    display: inline-block;
    margin: 0 10px;
}

.navbar-left .menu li > a, .navbar-right .menu li > a {
    display: inline-block;
    padding: 20px 5px;
    font-size: 20px;
    color: #555;
}

button {
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    margin: 0 10px;
}

button.login {
    color: black;
    background-color: #ccc;
}

button.app-download {
    color: white;
    background-color: black;
}


/* ____________________INIZIO DROPDOWN MENU____________ */

.dropdown-container {
    display: none;
}

.drop-funzionalita {
    width: 900px;
    background-color: grey;
    position: absolute;
    top: 80px;
    left: -200px;
    display: flex;
    justify-content: space-around;
}

.first-drop .drop-funzionalita li {
    display: block;
    margin: 20px 0;
}

.first-drop .drop-funzionalita li > a {
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
}
















/**/
